{% extends "base.html" %}
{% block title %}{{ book.title }}{% endblock %}

{% block content %}
<div class="main-layout">
  <section class="content">
    <div style="margin-top:20px;">
      {% if book.cover %}
        <img src="{{ url_for('static', filename='uploads/' ~ book.cover) }}"
             alt="{{ book.title }}"
             style="max-width:300px;border-radius:8px;display:block;margin-bottom:20px;">
      {% endif %}

      <div class="table-wrapper" style="max-width:400px;margin-bottom:20px;">
        <table>
          <tr><th>Название книги</th><td>{{ book.title }}</td></tr>
          <tr><th>Автор книги</th><td>{{ book.author }}</td></tr>
          <tr><th>Год выпуска</th><td>{{ book.year or '—' }}</td></tr>
          <tr><th>Жанр</th><td>{{ book.category.name if book.category else '—' }}</td></tr>
          <tr><th>Цена</th><td>{{ "%.2f"|format(book.price) }} ₽</td></tr>
          <tr><th>Состояние</th><td>{{ book.status }}</td></tr>
        </table>
      </div>

      <div class="table-wrapper" style="max-width:600px;">
        <h3>Описание</h3>
        <p>{{ book.description or '—' }}</p>
      </div>

    {% if current_user.is_authenticated %}
        <form action="{{ url_for('add_to_cart', book_id=book.id) }}" method="post" style="margin-top:20px;">
            <button type="submit" class="btn btn-primary">Добавить в корзину</button>
        </form>
        {% else %}
        <a href="{{ url_for('login', next=url_for('book_detail', book_id=book.id)) }}"
            class="btn btn-primary"
            style="margin-top:20px;display:inline-block;">
            Войти, чтобы добавить в корзину
        </a>
    {% endif %}

    </div>
  </section>
</div>
{% endblock %}
